USE [master]
GO
/****** Object:  Database [Хранитель ПРО Кротова]    Script Date: 18.04.2024 23:56:24 ******/
CREATE DATABASE [Хранитель ПРО Кротова]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Хранитель ПРО Кротова', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Хранитель ПРО Кротова.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Хранитель ПРО Кротова_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Хранитель ПРО Кротова_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Хранитель ПРО Кротова].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Хранитель ПРО Кротова]
GO
/****** Object:  Table [dbo].[Групповое посещение]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Групповое посещение](
	[Логин] [varchar](20) NOT NULL,
	[Пароль] [varchar](20) NOT NULL,
	[Назначение] [varchar](100) NULL,
	[Код_пропуска] [int] NULL,
	[Код_группы] [int] NULL,
	[Код_пользователя] [int] NULL,
 CONSTRAINT [PK_Групповое посещение] PRIMARY KEY CLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Группы посещения]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Группы посещения](
	[Код_группы] [int] NOT NULL,
	[Название_группы] [varchar](40) NULL,
	[Код_пользователя] [varchar](50) NULL,
 CONSTRAINT [PK_Группы посещения] PRIMARY KEY CLUSTERED 
(
	[Код_группы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заявка на посещение]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявка на посещение](
	[Код_заявки] [int] NOT NULL,
	[Начало_срока_действия] [date] NOT NULL,
	[Конец_срока_действия] [date] NOT NULL,
 CONSTRAINT [PK_Заявка на посещение] PRIMARY KEY CLUSTERED 
(
	[Код_заявки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Личное посещение]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Личное посещение](
	[Логин] [varchar](20) NOT NULL,
	[Пароль] [varchar](20) NOT NULL,
	[Назначение] [varchar](40) NOT NULL,
	[Код_пользователя] [int] NOT NULL,
	[Код_пропуска] [int] NULL,
 CONSTRAINT [PK_Личное посещение] PRIMARY KEY CLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отдел]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отдел](
	[Код_отдела] [int] IDENTITY(1,1) NOT NULL,
	[Название_отдела] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Отдел] PRIMARY KEY CLUSTERED 
(
	[Код_отдела] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Подразделение]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Подразделение](
	[Код_подразделения] [int] IDENTITY(1,1) NOT NULL,
	[Название_подразделения] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Подразделение] PRIMARY KEY CLUSTERED 
(
	[Код_подразделения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Код_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [varchar](30) NOT NULL,
	[Имя] [varchar](30) NOT NULL,
	[Отчество] [varchar](30) NOT NULL,
	[Дата_рождения] [date] NOT NULL,
	[Серия_паспорта] [varchar](4) NOT NULL,
	[Номер_паспорта] [varchar](6) NOT NULL,
	[Номер_телефона] [varchar](20) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[Фотография] [varbinary](max) NULL,
	[Документы] [varbinary](max) NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[Код_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пропуск]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пропуск](
	[Код_пропуска] [int] IDENTITY(1,1) NOT NULL,
	[Код_заявки] [int] NOT NULL,
	[Цель_посещения] [varchar](20) NOT NULL,
	[Принимающий_сотрудник] [int] NULL,
 CONSTRAINT [PK_Пропуск] PRIMARY KEY CLUSTERED 
(
	[Код_пропуска] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код_сотрудника] [int] NOT NULL,
	[Фамилия] [varchar](30) NOT NULL,
	[Имя] [varchar](30) NOT NULL,
	[Отчество] [varchar](30) NOT NULL,
	[Код_отдела] [int] NULL,
	[Код_подразделения] [int] NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код_сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус заявки]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус заявки](
	[Статус_заявки] [varchar](20) NULL,
	[Код_заявки] [int] NOT NULL,
	[Код_сотрудника_одобрившего_заявку] [int] NOT NULL,
 CONSTRAINT [PK_Статус заявки] PRIMARY KEY CLUSTERED 
(
	[Код_заявки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Черный_список]    Script Date: 18.04.2024 23:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Черный_список](
	[Код_записи] [int] IDENTITY(1,1) NOT NULL,
	[Код_пропуска] [int] NULL,
	[Код_пользователя] [int] NULL,
	[Статус_записи] [varchar](30) NULL,
 CONSTRAINT [PK_Черный_список] PRIMARY KEY CLUSTERED 
(
	[Код_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Групповое посещение] ([Логин], [Пароль], [Назначение], [Код_пропуска], [Код_группы], [Код_пользователя]) VALUES (N'Adelaida20
', N'LCY*{L*fEGYB
', N'24/04/2023_9367788
', 1, 12, 17)
INSERT [dbo].[Групповое посещение] ([Логин], [Пароль], [Назначение], [Код_пропуска], [Код_группы], [Код_пользователя]) VALUES (N'Elizar30', N'wJs1~r3RS~dr', N'24/04/2023_9367788', 4, 13, 29)
INSERT [dbo].[Групповое посещение] ([Логин], [Пароль], [Назначение], [Код_пропуска], [Код_группы], [Код_пользователя]) VALUES (N'Georgij121', N'bbx5H}f*BC?w', N'24/04/2023_9367788', 4, 13, 28)
GO
INSERT [dbo].[Группы посещения] ([Код_группы], [Название_группы], [Код_пользователя]) VALUES (12, N'Производство_Фомичева_ГП1', N'16,17, 18, 19, 20,21,22')
INSERT [dbo].[Группы посещения] ([Код_группы], [Название_группы], [Код_пользователя]) VALUES (13, N'Производство_Фомичева_ГП2', N'23,24,25,26,27,28,29,30')
GO
INSERT [dbo].[Заявка на посещение] ([Код_заявки], [Начало_срока_действия], [Конец_срока_действия]) VALUES (1, CAST(N'2023-04-24' AS Date), CAST(N'2023-05-08' AS Date))
INSERT [dbo].[Заявка на посещение] ([Код_заявки], [Начало_срока_действия], [Конец_срока_действия]) VALUES (2, CAST(N'2023-04-25' AS Date), CAST(N'2023-05-10' AS Date))
INSERT [dbo].[Заявка на посещение] ([Код_заявки], [Начало_срока_действия], [Конец_срока_действия]) VALUES (3, CAST(N'2023-04-26' AS Date), CAST(N'2023-05-12' AS Date))
GO
INSERT [dbo].[Личное посещение] ([Логин], [Пароль], [Назначение], [Код_пользователя], [Код_пропуска]) VALUES (N'Aleksej43
', N'~c%PlTY0?qgl', N'28/04/2023_9367788', 13, 15)
INSERT [dbo].[Личное посещение] ([Логин], [Пароль], [Назначение], [Код_пользователя], [Код_пропуска]) VALUES (N'Aljbina33', N'Bu?BHCtwDFin', N'25/04/2023_9367788', 4, 6)
INSERT [dbo].[Личное посещение] ([Логин], [Пароль], [Назначение], [Код_пользователя], [Код_пропуска]) VALUES (N'Arkadij123', N'vk2N7lxX}ck%', N'26/04/2023_9788737', 8, 10)
GO
SET IDENTITY_INSERT [dbo].[Отдел] ON 

INSERT [dbo].[Отдел] ([Код_отдела], [Название_отдела]) VALUES (1, N'Общий отдел')
INSERT [dbo].[Отдел] ([Код_отдела], [Название_отдела]) VALUES (2, N'Охрана')
SET IDENTITY_INSERT [dbo].[Отдел] OFF
GO
SET IDENTITY_INSERT [dbo].[Подразделение] ON 

INSERT [dbo].[Подразделение] ([Код_подразделения], [Название_подразделения]) VALUES (1, N'Производство
')
INSERT [dbo].[Подразделение] ([Код_подразделения], [Название_подразделения]) VALUES (2, N'Сбыт
')
INSERT [dbo].[Подразделение] ([Код_подразделения], [Название_подразделения]) VALUES (3, N'Администрация
')
SET IDENTITY_INSERT [dbo].[Подразделение] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([Код_пользователя], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Серия_паспорта], [Номер_паспорта], [Номер_телефона], [Email], [Фотография], [Документы]) VALUES (1, N'Степанова', N'Радинка', N'Власовна', CAST(N'1986-10-18' AS Date), N'0208', N'530509', N'+7 (613) 272-60-62', N'Radinka100@yandex.ru', NULL, NULL)
INSERT [dbo].[Пользователи] ([Код_пользователя], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Серия_паспорта], [Номер_паспорта], [Номер_телефона], [Email], [Фотография], [Документы]) VALUES (2, N'Шилов', N'Прохор', N'Герасимович', CAST(N'1977-10-09' AS Date), N'3036', N'796488', N'+7 (615) 594-77-66', N'Prohor156@list.ru', NULL, NULL)
INSERT [dbo].[Пользователи] ([Код_пользователя], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Серия_паспорта], [Номер_паспорта], [Номер_телефона], [Email], [Фотография], [Документы]) VALUES (3, N'Кононов', N'Юрин', N'Романович', CAST(N'1971-10-08' AS Date), N'2747', N'790512', N'+7 (784) 673-51-91', N'YUrin155@gmail.com', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Пропуск] ON 

INSERT [dbo].[Пропуск] ([Код_пропуска], [Код_заявки], [Цель_посещения], [Принимающий_сотрудник]) VALUES (1, 1, N'Экскурсия', 9362832)
INSERT [dbo].[Пропуск] ([Код_пропуска], [Код_заявки], [Цель_посещения], [Принимающий_сотрудник]) VALUES (2, 3, N'Собеседование', 9367788)
INSERT [dbo].[Пропуск] ([Код_пропуска], [Код_заявки], [Цель_посещения], [Принимающий_сотрудник]) VALUES (3, 2, N'Встреча с работником', 9404040)
SET IDENTITY_INSERT [dbo].[Пропуск] OFF
GO
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Фамилия], [Имя], [Отчество], [Код_отдела], [Код_подразделения]) VALUES (9362832, N'Архипов', N'Тимофей', N'Васильевич', 1, 4)
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Фамилия], [Имя], [Отчество], [Код_отдела], [Код_подразделения]) VALUES (9367788, N'Фомичева', N'Авдотья', N'Трофимовна', 2, 1)
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Фамилия], [Имя], [Отчество], [Код_отдела], [Код_подразделения]) VALUES (9404040, N'Чернов', N'Всеволод', N'Наумович', 2, 2)
GO
INSERT [dbo].[Статус заявки] ([Статус_заявки], [Код_заявки], [Код_сотрудника_одобрившего_заявку]) VALUES (N'Одобрено', 1, 9362832)
INSERT [dbo].[Статус заявки] ([Статус_заявки], [Код_заявки], [Код_сотрудника_одобрившего_заявку]) VALUES (N'Одобрено', 2, 9367788)
INSERT [dbo].[Статус заявки] ([Статус_заявки], [Код_заявки], [Код_сотрудника_одобрившего_заявку]) VALUES (N'Одобрено', 3, 9736379)
GO
SET IDENTITY_INSERT [dbo].[Черный_список] ON 

INSERT [dbo].[Черный_список] ([Код_записи], [Код_пропуска], [Код_пользователя], [Статус_записи]) VALUES (1, 9, 7, N'В черном списке')
INSERT [dbo].[Черный_список] ([Код_записи], [Код_пропуска], [Код_пользователя], [Статус_записи]) VALUES (2, 11, 9, N'В черном списке')
INSERT [dbo].[Черный_список] ([Код_записи], [Код_пропуска], [Код_пользователя], [Статус_записи]) VALUES (3, 13, 11, N'В черном списке')
SET IDENTITY_INSERT [dbo].[Черный_список] OFF
GO
ALTER TABLE [dbo].[Групповое посещение]  WITH CHECK ADD  CONSTRAINT [FK_Групповое посещение_Группы посещения] FOREIGN KEY([Код_группы])
REFERENCES [dbo].[Группы посещения] ([Код_группы])
GO
ALTER TABLE [dbo].[Групповое посещение] CHECK CONSTRAINT [FK_Групповое посещение_Группы посещения]
GO
ALTER TABLE [dbo].[Групповое посещение]  WITH CHECK ADD  CONSTRAINT [FK_Групповое посещение_Пропуск] FOREIGN KEY([Код_пропуска])
REFERENCES [dbo].[Пропуск] ([Код_пропуска])
GO
ALTER TABLE [dbo].[Групповое посещение] CHECK CONSTRAINT [FK_Групповое посещение_Пропуск]
GO
ALTER TABLE [dbo].[Личное посещение]  WITH CHECK ADD  CONSTRAINT [FK_Личное посещение_Пользователи] FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Личное посещение] CHECK CONSTRAINT [FK_Личное посещение_Пользователи]
GO
ALTER TABLE [dbo].[Личное посещение]  WITH CHECK ADD  CONSTRAINT [FK_Личное посещение_Пропуск] FOREIGN KEY([Код_пропуска])
REFERENCES [dbo].[Пропуск] ([Код_пропуска])
GO
ALTER TABLE [dbo].[Личное посещение] CHECK CONSTRAINT [FK_Личное посещение_Пропуск]
GO
ALTER TABLE [dbo].[Пропуск]  WITH CHECK ADD  CONSTRAINT [FK_Пропуск_Заявка на посещение] FOREIGN KEY([Код_заявки])
REFERENCES [dbo].[Заявка на посещение] ([Код_заявки])
GO
ALTER TABLE [dbo].[Пропуск] CHECK CONSTRAINT [FK_Пропуск_Заявка на посещение]
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Отдел] FOREIGN KEY([Код_отдела])
REFERENCES [dbo].[Отдел] ([Код_отдела])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Отдел]
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Подразделение] FOREIGN KEY([Код_подразделения])
REFERENCES [dbo].[Подразделение] ([Код_подразделения])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Подразделение]
GO
ALTER TABLE [dbo].[Статус заявки]  WITH CHECK ADD  CONSTRAINT [FK_Статус заявки_Заявка на посещение] FOREIGN KEY([Код_заявки])
REFERENCES [dbo].[Заявка на посещение] ([Код_заявки])
GO
ALTER TABLE [dbo].[Статус заявки] CHECK CONSTRAINT [FK_Статус заявки_Заявка на посещение]
GO
ALTER TABLE [dbo].[Статус заявки]  WITH CHECK ADD  CONSTRAINT [FK_Статус заявки_Сотрудники] FOREIGN KEY([Код_сотрудника_одобрившего_заявку])
REFERENCES [dbo].[Сотрудники] ([Код_сотрудника])
GO
ALTER TABLE [dbo].[Статус заявки] CHECK CONSTRAINT [FK_Статус заявки_Сотрудники]
GO
ALTER TABLE [dbo].[Черный_список]  WITH CHECK ADD  CONSTRAINT [FK_Черный_список_Пользователи] FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Черный_список] CHECK CONSTRAINT [FK_Черный_список_Пользователи]
GO
USE [master]
GO
